<h1>Record Store</h1>

<form action="/search" method="get">
  <label for="name"></label>
  <input type="text" name="name" >
  <input type="submit" value="Search Artists">
</form>

<table>
  <tr>
    <th>Artist</th>
    <th>Albums</th>
    <th>Stock</th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td> <a href="/artists/<%= artist.id %>"><%= artist.name %></a> </td>
    <td>
    <% artist.albums.each do |album| %>
    <a href="/albums/<%= album.id %>"><%= album.title %></a>
    <br />
    <% end %>
  </td>
    <td>
    <% artist.albums.each do |album| %>
    <%= album.stock %>
    <br />
    <% end %>
  </td>
  </tr>
  <% end %>

</table>
