<section id="home">

<h1 class="center">Records & Stuff</h1>

<form class="center search" action="/search" method="get">
  <label for="name"></label>
  <input type="text" name="name" >
  <input type="submit" class="button" value="Search Artists">
</form>




<section class="home-album-tiles">
<% @albums.sample(5).each do |album| %>
<a href="/albums/<%= album.id %>">
<div class="home-album-div" style="background-image: url(<%= album.artwork %>);">
  <h1><%= album.title %></h1>
  <h2><%= album.artist.name %></h2>
  <p>Stock Level: <%= album.stock_level %></p>
</div>
</a>
<% end %>
</section>


</section>
