<h1 class="center">Inventory</h1>

<form class="filter" action="/inventory/filter" method="get">
  <select name="genre" genre>
    <% @all_genres.each do |genre| %>
    <option value="<%= genre['genre'] %>"  <%= "selected" if genre['genre'] == @genre %>><%= genre['genre'] %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>
<form class="filter" action="/inventory" method="get">
  <input type="submit" value="Remove Filter">
</form>

<table id="inventory" class="center">
  <tr>
    <th class="lg"><a href="/inventory">Artist</a></th>
    <th class="lg"><a href="/inventory/sort-by-title-asc">Album</a></th>
    <th class="lg" >Genre</th>
    <th class="sm"><a href="/inventory/sort-by-stock-desc">Stock</a></th>
    <th class="lg">Stock Level</th>
    <th class="sm">Buy Price</th>
    <th class="sm">Sell Price</th>
    <th class="sm">Markup</th>
  </tr>
  <% @artists.each do |artist| %>
  <% artist.albums.each do |album| %>
  <% if album.genre == @genre %>
  <tr>
    <td class="lg"> <a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td class="lg">
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
    </td>
    <td class="lg">
      <%= album.genre %>
    </td>
    <td class="sm">
      <form action="/inventory/<%= album.id %>/update" method="post">
        <label for="stock"></label>
        <input type="number" name="stock" id="stock" value="<%= album.stock %>">
        <input type="submit" class="button" value="Update">
      </form>
    </td>
    <td class="lg">
      <%= album.stock_level %>
      <br />
      <hr />
    </td>
    <td class="sm">
      £<%= album.buy_price %>
    </td>
    <td class="sm">
      £<%= album.sell_price %>
    </td>
    <td class="sm">
      £<%= album.markup %>
      <br />
      <hr />
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
