<h1 class="center">Inventory</h1>

<div class="filter">
<form action="/inventory/filter" method="get">
  Filter by genre:<select name="genre" genre>
    <% @all_genres.each do |genre| %>
    <option value="<%= genre['genre'] %>"  <%= "selected" if genre['genre'] == @genre %>><%= genre['genre'] %></option>
    <% end %>
  </select>
  <input type="submit" value="Update Filter">
</form>
<form action="/inventory" method="get">
  <input type="submit" value="Remove Filter">
</form>
</div>

<table id="inventory" class="center">
  <tr>
    <th class="lg"><a href="/inventory/filter-artist-asc/<%= @genre %>">Artist</a></th>
    <th class="lg"><a href="/inventory/filter-title-asc/<%= @genre %>">Album</a></th>
    <th class="lg" >Genre</th>
    <th class="sm"><a href="/inventory/filter-stock-desc/<%= @genre %>">Stock</a></th>
    <th class="lg">Stock Level</th>
    <th class="sm">Buy Price</th>
    <th class="sm">Sell Price</th>
    <th class="sm">Markup</th>
  </tr>
  <% @artists.each do |artist| %>
  <% artist.albums.each do |album| %>
  <% if album.genre == @genre %>
  <tr>
    <td class="lg"> <a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td class="lg">
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
    </td>
    <td class="lg">
      <%= album.genre %>
    </td>
    <td class="sm">
      <form action="/inventory/<%= album.id %>/update" method="post">
        <input type="number" name="stock" id="stock" value="<%= album.stock %>">
        <input type="hidden" name="title" id="title" value="<%= album.title %>">
        <input type="hidden" name="genre" id="genre" value="<%= album.genre %>">
        <input type="hidden" name="buy_price" id="buy_price" value="<%= album.buy_price %>">
        <input type="hidden" name="sell_price" id="sell_price" value="<%= album.sell_price %>">
        <input type="hidden" name="artwork" id="artwork" value="<%= album.artwork %>">
        <input type="hidden" name="artist_id" id="artist_id" value="<%= album.artist_id %>">
        <input type="submit" class="button" value="Update">
      </form>
    </td>
    <td class="lg">
      <%= album.stock_level %>
      <br />
      <hr />
    </td>
    <td class="sm">
      £<%= album.buy_price %>
    </td>
    <td class="sm">
      £<%= album.sell_price %>
    </td>
    <td class="sm">
      £<%= album.markup %>
      <br />
      <hr />
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
