<h1 class="center">Inventory</h1>

<table class="center">
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Stock</th>
    <th>Stock Level</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Markup</th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td> <a href="/artists/<%= artist.id %>"><%= artist.name %></a> </td>
    <td>
      <% artist.albums.each do |album| %>
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
      <br />
      <% end %>
    </td>
    <td>
      <% artist.albums do |album| %>
      <%= album.genre %>
      <br />
      <% end %>
    </td>
    <td>
      <% artist.albums.each do |album| %>
      <%= album.stock %>
      <br />
      <% end %>
    </td>
    <td>
      <% artist.albums.each do |album| %>
      <%= album.stock_level %>
      <br />
      <% end %>
    </td>
    <td>
      <% artist.albums.each do |album| %>
      <%= album.buy_price %>
      <br />
      <% end %>
    </td>
    <td>
      <% artist.albums.each do |album| %>
      <%= album.sell_price %>
      <br />
      <% end %>
    </td>
    <td>
      <% artist.albums.each do |album| %>
      <%= album.markup %>
      <br />
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
