<h1 class="center">Inventory</h1>

<form class="filter" action="/inventory/filter" method="get">
  <select name="genre" genre>
    <% @artists.each do |artist| %>
    <% artist.albums.each do |album| %>
    <option value="<%= album.genre %>"><%= album.genre %></option>
    <% end %>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>

<table id="inventory" class="center">
  <tr>
    <th class="lg"><a href="/inventory">Artist</a></th>
    <th class="lg"><a href="/inventory/sort-by-title-desc">Album</a></th>
    <th class="lg" >Genre</th>
    <th class="sm"><a href="/inventory/sort-by-stock-desc">Stock</a></th>
    <th class="lg">Stock Level</th>
    <th class="sm">Buy Price</th>
    <th class="sm">Sell Price</th>
    <th class="sm">Markup</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td class="lg"> <a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a>
    <hr /></td>
    <td class="lg">
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
    </td>
    <td class="lg">
      <%= album.genre %>
    </td>
    <td class="sm">
      <form action="/inventory/<%= album.id %>/update" method="post">
        <label for="stock"></label>
        <input type="number" name="stock" id="stock" value="<%= album.stock %>">
        <input type="submit" class="button" value="Update">
      </form>
    </td>
    <td class="lg">
      <%= album.stock_level %>
    </td>
    <td class="sm">
      £<%= album.buy_price %>
    </td>
    <td class="sm">
      £<%= album.sell_price %>
    </td>
    <td class="sm">
      £<%= album.markup %>
    </td>
  </tr>
  <% end %>
</table>
