<h1 class="center">All albums | <a class="new-link" href="/albums/new">Add new Album</a></h1>

<section class="album-tiles">
<% @albums.each do |album| %>
<a href="/albums/<%= album.id %>">
<div class="album-div" style="background-image: url(<%= album.artwork %>);">
  <h1><%= album.title %></h1>
  <h2><%= album.artist.name %></h2>
  <p>Stock Level: <%= album.stock_level %></p>
</div>
</a>
<% end %>
</section>
