<h1 class="center">All albums | <a class="new-link" href="/albums/new">Add new Album</a></h1>


<div class="all-albums">
<% @albums.each do |album| %>
<a href="/albums/<%= album.id %>"><div class="albums">
<img class="thumbnail" src="<%= album.artwork %>" alt="">
<div class="albums-content">
<h1><a href="/albums/<%= album.id %>"><%= album.title %></a></h1>
<a href="/artists/<%= album.artist.id%>"><%= album.artist.name %></a>
<p>Stock level: <%= album.stock_level %></p>
</div>
</div></a>
<% end %>
</div>
