<div class="show-album">
<img class="show-artwork" src="<%= @album.artwork %>" alt="album artwork">
<div class="show-album-content">
<h1><%= @album.title %></h1>
<h2><a href="/artists/<%= @album.artist.id %>"><%= @album.artist.name %></a></h2>
<p>Genre: <%= @album.genre %></p>
<p>Stock: <%= @album.stock %></p>
<div class="album-buttons">
<form action="/albums/<%= @album.id %>/delete" method="post">
  <input type="submit" class="button" value="Delete Album">
</form>
<form action="/albums/<%= @album.id %>/update" method="get">
  <input type="submit" class="button" value="Update Album">
</form>
</div>
</div>
</div>
