<h1><%= @artist.name %></h1>
<% @artist.albums.each do |album| %>
<p><a href="/albums/<%= album.id %>"> <%= album.title %></a></p>
<p><%= album.genre %></p>
<p><%= album.stock %></p>
<hr />
<% end %>

<form action="/artists/<%= @artist.id %>/delete" method="post">
  <input type="submit" value="Delete Artist">
</form>
<form action="/artists/<%= @artist.id %>/update" method="get">
  <input type="submit" value="Update Artist">
</form>
