<div class="profile" style="background: url(<%= @artist.profile_image %>);"> </div>

<h1 class="center"><%= @artist.name %></h1>

<div class="all-albums">
<% @artist.albums.each do |album| %>
<a href="/albums/<%= album.id %>"><div class="albums">
<img class="thumbnail" src="<%= album.artwork %>" alt="">
<div class="albums-content">
<h1><a href="/albums/<%= album.id %>"> <%= album.title %></a></h1>
<p>Genre: <%= album.genre %></p>
<p>Stock: <%= album.stock %></p>
</div>
</div></a>
<% end %>
</div>

<form action="/artists/<%= @artist.id %>/delete" method="post">
  <input type="submit" value="Delete Artist">
</form>
<form action="/artists/<%= @artist.id %>/update" method="get">
  <input type="submit" value="Update Artist">
</form>
